.square {
    border-radius: 0px
}
.jumbotron {
    background-image: linear-gradient(to right, #007bff, #000);
    color : #fff;
    height: 100px;
    border-radius: 30px;
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}
.jumbotrone {
    background-image: linear-gradient(to right, #007bff, #000);
    color : #fff;

}
.pointer {
    cursor: pointer;
}
